Repository ToucanToco/weaverbird, pull requests merged in 2019-04, with the labels that each got.

#74 Feature :: 'replace' step translation in mongo
  doc/steps.md
  src/lib/steps.ts
  src/lib/translators/base.ts
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: need review

#75 Fix :: use $addFields instead of $project in rename and newcolumn steps
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: need review

#90 Improve :: `filter` step translation to Mongo
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#91 Improve :: `aggregate` step mongo
  doc/steps.md
  src/lib/steps.ts
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#77 Fix :: simplify mongo pipeline
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#92 Feature :: `sort` step mongo
  doc/steps.md
  src/lib/steps.ts
  src/lib/translators/base.ts
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#93 Feature :: Resizable Panels Component
  .storybook/bundle.ts
  package.json
  src/App.vue
  src/components/ResizablePanels.vue
  src/styles/Pipeline.scss
  src/styles/ResizablePanels.scss
  src/styles/main.scss
  stories/index.js
  stories/resizable-panel.js
  tests/unit/resizable-panels.spec.ts
  yarn.lock
Labels: enhancement, need review

#94 Tech :: Add Coverage
  .circleci/config.yml
  .gitignore
  README.md
  codecov.yml
  jest.config.js
  package.json
  yarn.lock
Labels: tech, to merge

#95 Feature: fillna step translation to mongo
  doc/steps.md
  src/lib/steps.ts
  src/lib/translators/base.ts
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#97 Feature :: Top step translation to mongo
  doc/steps.md
  src/lib/steps.ts
  src/lib/translators/base.ts
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#99 [translator] force callback type cast
  src/lib/matcher.ts
  src/lib/translators/base.ts
Labels: need review, tech

#109 Doc :: Add alphabetical order convention in docs.md
  doc/steps.md
Labels: documentation, querytranslate

#110 Fix :: percentage step translation to mongo
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#113 Feature:: 'argmax' and 'argmin' steps to mongo
  doc/steps.md
  src/lib/steps.ts
  src/lib/translators/base.ts
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#104 Feature :: Simple data viewer
  .storybook/bundle.ts
  package.json
  src/App.vue
  src/components/DataViewer.vue
  src/components/DataViewerCell.vue
  src/fake_dataset.json
  src/styles/DataViewer.scss
  src/styles/ResizablePanels.scss
  src/styles/_variables.scss
  stories/data-viewer.js
  stories/index.js
  tests/unit/data-viewer-cell.spec.ts
  tests/unit/data-viewer.spec.ts
  tsconfig.json
  yarn.lock
Labels: enhancement, need review, ui

#111 Fix :: simplifyMongoPipeline
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: mongo, need review, querytranslate

#106 Feature :: `formula` step
  doc/steps.md
  package.json
  src/lib/pipeline.ts
  src/lib/steps.ts
  src/lib/translators/base.ts
  src/lib/translators/mongo.ts
  src/typings/mathjs/index.d.ts
  tests/unit/mongo.spec.ts
  tests/unit/pipebuild.spec.ts
  tsconfig.json
  yarn.lock
Labels: mongo, need review, querytranslate
