Repository ToucanToco/weaverbird, pull requests merged in 2020-11, with the labels that each got.

#682 feat(server): panda join step
  server/tests/steps/test_filter.py
  server/tests/steps/test_join.py
  server/tests/steps/test_rename.py
  server/weaverbird/pipeline.py
  server/weaverbird/pipeline_executor.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/base.py
  server/weaverbird/steps/domain.py
  server/weaverbird/steps/filter.py
  server/weaverbird/steps/join.py
  server/weaverbird/steps/rename.py
  server/weaverbird/types.py
  src/lib/translators/pandas.ts
Labels: py pandas

#683 test(server): ensure json df serialization is done by pandas
  server/playground.py
  server/poetry.lock
  server/pyproject.toml
  server/tests/test_pipeline_executor.py
  server/weaverbird/pipeline_executor.py
Labels: bug

#684 chore(server): add pandas rename step in translator
  src/lib/translators/pandas.ts
Labels: py pandas

#685 build(server): sanitize branch name for image tagging
  .github/workflows/docker-playground.yml
Labels: bug, tech

#686 v0.29.0
  CHANGELOG.md
  package.json
  sonar-project.properties
Labels: need review, release

#693 build(playground): works on master
  .github/workflows/docker-playground.yml
Labels: playground, tech

#689 fix(mongo): month index for november
  src/components/stepforms/FromDateStepForm.vue
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: bug

#687 feat(server): add concatenate step
  server/tests/steps/test_concatenate.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/concatenate.py
  server/weaverbird/steps/join.py
  server/weaverbird/types.py
  src/lib/translators/pandas.ts
Labels: py pandas

#690 feat(server): add append step
  docs/_docs/tech/steps.md
  server/tests/steps/test_append.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/append.py
  src/lib/translators/pandas.ts
Labels: py pandas

#691 feat(server): add convert step
  server/tests/steps/test_convert.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/convert.py
  src/lib/translators/pandas.ts
Labels: py pandas

#692 feat(server): add cumsum step
  server/tests/steps/test_cumsum.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/cumsum.py
  src/lib/translators/pandas.ts
Labels: py pandas

#694 feat(server): add dateextract step
  docs/_docs/tech/steps.md
  server/tests/steps/test_date_extract.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/date_extract.py
  src/lib/translators/pandas.ts
Labels: py pandas

#698 feat(argmax): added the argmax step
  server/tests/steps/test_argmax.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/argmax.py
  src/lib/translators/pandas.ts
Labels: py pandas

#699 feat(argmin): added argmin step
  server/tests/steps/test_argmin.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/argmin.py
  src/lib/translators/pandas.ts
Labels: py pandas

#695 feat(server): add delete step
  server/tests/steps/test_delete.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/delete.py
  src/lib/translators/pandas.ts
Labels: py pandas

#696 feat(server): add duplicate step
  server/tests/steps/test_duplicate.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/duplicate.py
  src/lib/translators/pandas.ts
Labels: py pandas

#702 feat(server): add formula step
  server/tests/steps/test_formula.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/formula.py
  src/lib/translators/pandas.ts
Labels: py pandas

#707 Pandas lowercase step
  server/tests/steps/test_lowercase.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/lowercase.py
  src/lib/translators/pandas.ts
Labels: py pandas

#700 feat(fillna): added fillna step
  server/tests/steps/test_fillna.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/fillna.py
  src/lib/translators/pandas.ts
Labels: py pandas

#716 todate/fromdate steps: add support for custom formats UI with pandas translator
  src/components/stepforms/FromDateStepForm.vue
  src/components/stepforms/ToDateStepForm.vue
  tests/unit/todate-step-form.spec.ts
Labels: need review, ui

#705 feat(server): add evolution step
  server/tests/steps/test_evolution.py
  server/weaverbird/exceptions.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/base.py
  server/weaverbird/steps/evolution.py
  src/lib/translators/pandas.ts
Labels: py pandas

#706 Pandas fromdate step
  server/tests/steps/test_fromdate.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/fromdate.py
  src/lib/translators/pandas.ts
Labels: py pandas

#708 feat(server): add pivot step
  server/tests/steps/test_pivot.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/pivot.py
  src/lib/translators/pandas.ts
Labels: py pandas

#720 Doc: add info of whether steps are supported by pandas
  docs/_docs/tech/steps.md
  docs/_docs/user-interface/append.md
  docs/_docs/user-interface/concatenate.md
  docs/_docs/user-interface/convert.md
  docs/_docs/user-interface/dateextract.md
  docs/_docs/user-interface/delete.md
  docs/_docs/user-interface/duplicate.md
  docs/_docs/user-interface/evolution.md
  docs/_docs/user-interface/fillna.md
  docs/_docs/user-interface/filter.md
  docs/_docs/user-interface/formula.md
  docs/_docs/user-interface/join.md
  docs/_docs/user-interface/lowercase.md
  docs/_docs/user-interface/rename.md
Labels: documentation, need review

#718 fix(server): handle "reference_column" of cumsum step
  server/tests/steps/test_cumsum.py
  server/weaverbird/steps/cumsum.py
Labels: bug, py pandas

#717 Pandas extract utils
  server/tests/steps/test_filter.py
  server/weaverbird/conditions.py
  server/weaverbird/formula.py
  server/weaverbird/steps/filter.py
  server/weaverbird/steps/formula.py
Labels: py pandas

#714 Pandas replace step
  server/tests/steps/test_replace.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/replace.py
  src/lib/translators/pandas.ts
Labels: py pandas

#675 Pandas aggregate step
  server/tests/steps/test_aggregate.py
  server/tests/test_pipeline_executor.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/aggregate.py
  src/lib/translators/pandas.ts
  tests/unit/translator.spec.ts
Labels: py pandas

#719 evolution step: fix descriptions and related doc
  docs/_docs/tech/steps.md
  docs/_docs/user-interface/evolution.md
  docs/img/docs/user-interface/evolution_example_conf_1.png
  docs/img/docs/user-interface/evolution_example_conf_2.png
  docs/img/docs/user-interface/evolution_example_conf_3.png
  docs/img/docs/user-interface/evolution_example_result_1.png
  docs/img/docs/user-interface/evolution_example_result_2.png
  docs/img/docs/user-interface/evolution_example_result_3.png
  docs/img/docs/user-interface/evolution_step_form.png
  src/components/stepforms/EvolutionStepForm.vue
Labels: documentation, need review

#728 fix(ci): in pandas translator it is AggregateStep and not AggregationStep
  src/lib/translators/pandas.ts
Labels: bug, need review

#726 Pandas text step
  server/tests/steps/test_text.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/text.py
  src/lib/translators/pandas.ts
Labels: py pandas

#715 feat(server): add rank step
  server/tests/steps/test_rank.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/rank.py
  src/lib/translators/pandas.ts
Labels: py pandas

#710 feat(server): add statistics step
  server/tests/steps/test_statistics.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/statistics.py
  src/lib/steps.ts
  src/lib/translators/pandas.ts
Labels: py pandas

#703 Pandas ifthenelse step
  server/tests/steps/test_ifthenelse.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/ifthenelse.py
  src/lib/translators/pandas.ts
Labels: py pandas

#713 Pandas percentage step
  server/tests/steps/test_percentage.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/percentage.py
  src/lib/translators/pandas.ts
Labels: py pandas

#722 Pandas uppercase step
  server/tests/steps/test_uppercase.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/uppercase.py
  src/lib/translators/pandas.ts
Labels: py pandas

#731 fix(server): fix percentage step
  server/tests/steps/test_percentage.py
  server/weaverbird/steps/percentage.py
Labels: bug, py pandas

#724 Pandas select step
  server/tests/steps/test_select.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/select.py
  src/lib/translators/pandas.ts
Labels: py pandas

#727 Pandas sort step
  server/tests/steps/test_sort.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/sort.py
  src/lib/translators/pandas.ts
Labels: py pandas

#725 build(docs): switch to github pages build
  .circleci/config.yml
  docs/Dockerfile
  docs/Gemfile
  docs/Gemfile.lock
  docs/README.md
  docs/_config.yml
Labels: documentation, need review

#736 fix(pandas aggregate): implemented the first, last, and count aggregate.
  server/tests/steps/test_aggregate.py
  server/weaverbird/steps/aggregate.py
Labels: py pandas

#739 fix(doc steps): fixed aggregate examples in steps.md
  docs/_docs/tech/steps.md
Labels: documentation

#729 fix(server): playground :: display error messages when using pandas
  server/playground.py
Labels: bug, py pandas

#730 feat(server): add rollup step
  docs/_docs/tech/steps.md
  server/tests/steps/test_aggregate.py
  server/tests/steps/test_rollup.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/aggregate.py
  server/weaverbird/steps/rollup.py
  src/lib/translators/pandas.ts
Labels: py pandas

#732 feat(server): add todate step
  docs/_docs/tech/steps.md
  server/tests/steps/test_todate.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/todate.py
  src/lib/translators/pandas.ts
Labels: py pandas

#733 feat(server): add top step
  docs/_docs/tech/steps.md
  server/tests/steps/test_top.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/top.py
  src/lib/translators/pandas.ts
Labels: py pandas

#735 feat(server): add unpivot step
  docs/_docs/tech/steps.md
  server/tests/steps/test_unpivot.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/unpivot.py
  src/lib/translators/pandas.ts
Labels: py pandas

#742 Pandas substring step
  docs/_docs/user-interface/substring.md
  server/tests/steps/test_substring.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/substring.py
  src/lib/translators/pandas.ts
Labels: py pandas

#709 text step: fix mongo translation and add test
  src/lib/translators/mongo.ts
  tests/unit/mongo.spec.ts
Labels: bug

#745 it is now possible to aggregate without grouping by key
  server/tests/steps/test_aggregate.py
  server/weaverbird/steps/aggregate.py
Labels: bug, py pandas

#744 Pandas split step
  docs/_docs/user-interface/split.md
  server/tests/steps/test_split.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/split.py
  src/lib/translators/pandas.ts
Labels: py pandas

#748 fix(server): aggregate step can operate on the on columns
  server/tests/steps/test_aggregate.py
  server/weaverbird/steps/aggregate.py
Labels: py pandas

#749 Substring: parameter badly named 'new_column_name' is now aliased to newColumnName
  server/tests/steps/test_substring.py
  server/weaverbird/steps/substring.py
Labels: bug, py pandas

#746 Pandas waterfall step
  docs/_docs/user-interface/waterfall.md
  server/tests/steps/test_waterfall.py
  server/weaverbird/pipeline.py
  server/weaverbird/steps/__init__.py
  server/weaverbird/steps/waterfall.py
  src/lib/translators/pandas.ts
Labels: py pandas

#756 V0.31.0
  CHANGELOG.md
  package.json
  sonar-project.properties
Labels: need review, release

#758 docs: missing slash is breaking a link on project website nav
  README.md
  docs/_docs/tech/ui-components.md
Labels: documentation

#763 v0.32.0
  CHANGELOG.md
  package.json
  sonar-project.properties
Labels: DO NOT MERGE, release
