Repository ToucanToco/weaverbird, pull requests merged in 2022-03, with the labels that each got.

#1275 feat(python mongo join): Join Step [TCTC-1993]
  server/src/weaverbird/backends/mongo_translator/steps/__init__.py
  server/src/weaverbird/backends/mongo_translator/steps/join.py
  server/src/weaverbird/backends/mongo_translator/utils.py
  server/src/weaverbird/exceptions.py
  server/tests/backends/fixtures/join/inner.json
  server/tests/backends/fixtures/join/left.json
  server/tests/backends/fixtures/join/left_outer.json
  server/tests/backends/mongo_translator/test_mongo_translator_steps.py
Labels: need review

#1276 feat:python mongo append step [TCTC-1829]
  server/CHANGELOG.md
  server/setup.cfg
  server/src/weaverbird/backends/mongo_translator/steps/__init__.py
  server/src/weaverbird/backends/mongo_translator/steps/append.py
  server/tests/backends/fixtures/append/simple.json
  server/tests/backends/fixtures/append/with_domain_name.json
  server/tests/backends/mongo_translator/test_mongo_translator_steps.py
Labels: need review

#1278 fix(mongo back): fix append & join to handle domain step as str [TCTC-1829]
  server/CHANGELOG.md
  server/setup.cfg
  server/src/weaverbird/backends/mongo_translator/steps/append.py
  server/src/weaverbird/backends/mongo_translator/steps/join.py
  server/tests/backends/fixtures/append/domain_name_only.json
  server/tests/backends/fixtures/join/domain_name_only.json
Labels: need review

#1281 feat(mongo back): aggregate step mongo back TCTC-1830
  server/src/weaverbird/backends/mongo_translator/steps/__init__.py
  server/src/weaverbird/backends/mongo_translator/steps/aggregate.py
  server/src/weaverbird/backends/mongo_translator/steps/append.py
  server/src/weaverbird/backends/mongo_translator/steps/argmax.py
  server/src/weaverbird/backends/mongo_translator/steps/argmin.py
  server/src/weaverbird/backends/mongo_translator/steps/domain.py
  server/src/weaverbird/backends/mongo_translator/steps/filter.py
  server/src/weaverbird/backends/mongo_translator/steps/join.py
  server/src/weaverbird/backends/mongo_translator/steps/rename.py
  server/src/weaverbird/backends/mongo_translator/steps/text.py
  server/src/weaverbird/backends/mongo_translator/steps/types.py
  server/tests/backends/fixtures/aggregate/count.json
  server/tests/backends/fixtures/aggregate/count_distinct.json
  server/tests/backends/fixtures/aggregate/first.json
  server/tests/backends/fixtures/aggregate/keep_original_granularity_empty_on.json
  server/tests/backends/fixtures/aggregate/last.json
  server/tests/backends/fixtures/aggregate/with_original_granularity.json
  server/tests/backends/fixtures/aggregate/with_original_granularity_multiple_aggregations.json
  server/tests/backends/fixtures/aggregate/with_original_granularity_multiple_aggregations_multiple_columns.json
  server/tests/backends/fixtures/aggregate/without_on.json
Labels: need review, mongo

#1283 fix(sql): inclusion condition with a single value TCTC-1605
  server/src/weaverbird/backends/sql_translator/steps/utils/query_transformation.py
  server/tests/steps/sql_translator/utils/test_query_transformation.py
Labels: bug, querytranslate, fix

#1284 feat(mongo): sort step TCTC-1831
  server/src/weaverbird/backends/mongo_translator/steps/__init__.py
  server/src/weaverbird/backends/mongo_translator/steps/sort.py
  server/tests/backends/fixtures/sort/simple.json
Labels: mongo

#1254 fix(playground): display step errors
  playground/app.js
  server/playground.py
Labels: py pandas, playground

#1286 fix(convert-int-to-date): enable to convert year in int to date from types menu [TCTC-1895]
  server/src/weaverbird/backends/pandas_executor/steps/todate.py
  server/tests/backends/fixtures/todate/from_integer_year.json
  server/tests/steps/test_todate.py
  src/components/DataTypesMenu.vue
  src/lib/translators/mongo4.ts
  tests/unit/data-types-menu.spec.ts
  tests/unit/mongo.spec.ts
Labels: need review, mongo, py pandas, javascript

#1289 feat(playground): flag to test the mongo backend (python implementation)
  playground/app.js
  server/playground.py
Labels: mongo, playground

#1290 tests(snowflake): avoid connecting multiple times
  server/tests/backends/sql_translator/test_snowflake_translator_steps.py
Labels: tech, sql

#1291 fix(mongo): support years as strings in python implem TCTC-1831
  server/src/weaverbird/backends/mongo_translator/steps/todate.py
  server/tests/backends/fixtures/todate/str_as_year_with_automatic_guess.json
  src/lib/translators/mongo4.ts
  tests/unit/mongo.spec.ts
Labels: mongo, fix

#1292 chore(ui): v0.82.3
  CHANGELOG.md
  package.json
  sonar-project.properties
Labels: ui, release, javascript
