Repository ToucanToco/weaverbird, pull requests merged in 2024-06, with the labels that each got.

#2131 fix(addmissingdates): add default column values in additional generated rows (TCTC-7261)
  server/CHANGELOG.md
  server/src/weaverbird/backends/mongo_translator/steps/addmissingdates.py
  server/tests/backends/mongo_translator/steps/test_addmissingdates.py
Labels: bug, mongo

#2139 fix(ifthenelse): dont select column name if its ifthenelse result alias (TCTC-8780)
  server/CHANGELOG.md
  server/src/weaverbird/backends/pypika_translator/translators/base.py
  server/tests/backends/fixtures/ifthenelse/overwrite_column_pypika.yaml
Labels: bug, need review, pypika

#2140 chore(server): v0.45.4
  server/CHANGELOG.md
  server/pyproject.toml
Labels: need review, release

#2143 fix: GBQ DATE_ADD function doesnt support timestamps (TCTC-8784)
  server/CHANGELOG.md
  server/src/weaverbird/backends/pypika_translator/translators/googlebigquery.py
  server/tests/backends/fixtures/dateextract/google_big_query_datetimes.yaml
  server/tests/backends/fixtures/dateextract/google_big_query_timestamps.yaml
  server/tests/backends/sql_translator_integration_tests/test_sql_bigquery_translator_steps.py
Labels: bug, build, pypika

#2147 chore(server): v0.45.5
  server/CHANGELOG.md
  server/pyproject.toml
Labels: need review, release

#2150 fix(pandas): handle out of bounds dates in filter from/until [TCTC-8867]
  server/CHANGELOG.md
  server/src/weaverbird/backends/pandas_executor/steps/utils/condition.py
  server/tests/backends/fixtures/filter/dates_from_until_too_wide.json
Labels: bug

#2151 fix(server): wrap last step in a CTE on aggregate with keep_granularity and no group-by (TCTC-8811)
  server/CHANGELOG.md
  server/src/weaverbird/backends/pypika_translator/translators/base.py
  server/tests/backends/fixtures/aggregate/last_step_no_group_with_granularity.yaml
Labels: bug, pypika

#2152 chore(server): v0.45.6
  server/CHANGELOG.md
  server/pyproject.toml
Labels: need review, build, release

#2156 fix(server/evolution): fix handling of negatives in percentages [TCTC-8671]
  server/CHANGELOG.md
  server/src/weaverbird/backends/mongo_translator/steps/evolution.py
  server/src/weaverbird/backends/pandas_executor/steps/evolution.py
  server/src/weaverbird/backends/pypika_translator/translators/base.py
  server/tests/backends/fixtures/evolution/perc_nogroups_negatives.yaml
  server/tests/backends/fixtures/evolution/perc_nogroups_negatives_pypika.yaml
Labels: bug, need review, mongo, py pandas, pypika

#2157 chore(server): v0.45.7
  server/CHANGELOG.md
  server/pyproject.toml
Labels: need review

#2158 ci: switch to serverless for redshift CI
  .github/workflows/ci-server.yml
  server/tests/backends/sql_translator_integration_tests/test_sql_redshift_translator_steps.py
Labels: need review

#2159 fix: overrides default limit if last_step already defines it
  server/CHANGELOG.md
  server/src/weaverbird/backends/pypika_translator/translators/base.py
  server/tests/backends/sql_translator_unit_tests/test_translation_last_step_unwrapping.py
Labels: bug, need review, pypika
