Repository ToucanToco/weaverbird, pull requests merged in 2024-12, with the labels that each got.

#2296 fix(server/pypika): reverse OFFSET and LIMIT for Athena translator [TCTC-9905]
  server/CHANGELOG.md
  server/src/weaverbird/backends/pypika_translator/translators/athena.py
  server/src/weaverbird/backends/pypika_translator/translators/base.py
  server/tests/backends/sql_translator_unit_tests/test_offset_limit_behaviour.py
Labels: bug, need review, pypika

#2297 chore(server): v0.48.5
  server/CHANGELOG.md
  server/pyproject.toml
Labels: need review

#2300 fix: fix pypika replace step for substrings (TCTC-9903)
  server/CHANGELOG.md
  server/src/weaverbird/backends/pypika_translator/translators/base.py
  server/tests/backends/fixtures/replace/with_substrings.yaml
  server/tests/backends/sql_translator_unit_tests/test_base_translator.py
Labels: bug, need review, build, pypika

#2302 chore(server): v0.48.6
  server/CHANGELOG.md
  server/pyproject.toml
Labels: need review, build, release
